asyncpg==0.21.0
fastapi==0.63.0
gunicorn==20.0.4
httpx==0.16.1
jsonschema==3.2.0
lru-dict==1.1.6
pydantic==1.7.3
pyyaml==5.3.1
redis==3.5.3
uvicorn==0.13.3
uvloop==0.14.0
numpy==1.19.4
httptools==0.1.1
git+https://github.com/ranking-agent/reasoner#egg=reasoner
reasoner-pydantic==1.1.2.1
