codecov
pytest
pytest-asyncio
pytest-cov
python-dotenv
tox
uvloop
git+https://github.com/ranking-agent/reasoner-pydantic#egg=reasoner-pydantic
git+https://github.com/ranking-agent/reasoner#egg=reasoner